@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8F9FA;
    --foreground: #1F2937;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
